<!-- Page Heading -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Dashboard <small>Statistics Overview</small>
    </h1>
    <ol class="breadcrumb">
      <li class="active">
        <i class="fa fa-dashboard"></i> Dashboard
      </li>
    </ol>
  </div>
</div>
<!-- /.row -->



<div class="row">
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-clock-o fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">
               <%= Ticket.pending_count %>
             </div>
            <div>Pending Tickets</div>
          </div>
        </div>
      </div>
      <a href="#">
        <div class="panel-footer">
          <span class="pull-left">View Details</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-green">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-tasks fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge"><%= Ticket.where(status: 'Assigned').count %></div>
            <div>Assigned Tickets</div>
          </div>
        </div>
      </div>
      <a href="#">
        <div class="panel-footer">
          <span class="pull-left">View Details</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-yellow">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-shopping-cart fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge"><%= Ticket.count %></div>
            <div>Total Tickets</div>
          </div>
        </div>
      </div>
      <a href="#">
        <div class="panel-footer">
          <span class="pull-left">View Details</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-progress">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-ellipsis-h fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge"><%= Ticket.where(status: Ticket::IN_PROGRESS).count %></div>
            <div> Tickets In-progress</div>
          </div>
        </div>
      </div>
      <a href="#">
        <div class="panel-footer">
          <span class="pull-left">View Details</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
</div>
<!-- /.row -->

<div class="row">
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-resolved">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-thumbs-up fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge"><%= Ticket.where(status: Ticket::RESOLVED).count %></div>
            <div>Resolved Tickets</div>
          </div>
        </div>
      </div>
      <a href="#">
        <div class="panel-footer">
          <span class="pull-left">View Details</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-red">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-bolt fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge"><%= Ticket.where(priority: Ticket::LEVEL_1).count %></div>
            <div>Level 1 Tickets</div>
          </div>
        </div>
      </div>
      <a href="#">
        <div class="panel-footer">
          <span class="pull-left">View Details</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-l2">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-chevron-up fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge"><%= Ticket.where(priority: Ticket::LEVEL_2).count %></div>
            <div>Level 2 Tickets</div>
          </div>
        </div>
      </div>
      <a href="#">
        <div class="panel-footer">
          <span class="pull-left">View Details</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-l3">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-chevron-down fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge"><%= Ticket.where(priority: Ticket::LEVEL_3).count %></div>
            <div>Level 3 Tickets</div>
          </div>
        </div>
      </div>
      <a href="#">
        <div class="panel-footer">
          <span class="pull-left">View Details</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
 </div>
<!-- /.row -->
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i>Tickets Inflow</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-6">
            <h3>Tickets by status</h3>
          <%= pie_chart({"Assigned" => Ticket.where(status: Ticket::ASSIGNED ).count,
                         "Pending" => Ticket.where(status: Ticket::PENDING).count,
                         "Resolved" => Ticket.where(status: Ticket::RESOLVED).count,
                         "In-progress" => Ticket.where(status: Ticket::IN_PROGRESS).count}) %>
         </div>
          <div class="col-xs-6">
            <h3>Tickets by Priority</h3>
            <%= bar_chart({"Level 1" => Ticket.where(priority: Ticket::LEVEL_1).count,
                           "Level 2" => Ticket.where(priority: Ticket::LEVEL_2).count,
                           "Level 3" => Ticket.where(priority: Ticket::LEVEL_3).count} ) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.row -->
