<!-- Page Heading -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Tickets <small>Details</small>
    </h1>
  </div>
</div>

<div class="show">
  <strong>Title:</strong>
  <%= @ticket.title %>
</div>

<div class="show">
  <strong>Description:</strong>
  <%= @ticket.description %>
</div>

<div class="show">
  <strong>Assignee:</strong>
  <%= Assignee.find(@ticket.assignee_id).full_name %>
</div>
<div class="show">
  <strong>Status:</strong>
  <%= @ticket.status %>
</div>
<div class="show">
  <strong>Priority:</strong>
  <%= @ticket.priority %>
</div>

<%= link_to 'Edit', edit_dashboard_path(@ticket) %> |
<%= link_to 'Back', dashboard_tickets_path %>