
    <%= bootstrap_form_for(@ticket, layout: :horizontal, label_col: "col-sm-2 col-sm-offset-2", control_col: "col-sm-4") do |f| %>

        <%= f.text_field :first_name %>

        <%= f.text_field :last_name %>

        <%= f.email_field :email %>

        <%= f.text_field :department, help: "Optional" %>

        <%= f.text_field :title %>

        <%= f.text_area :description, rows: "5" %>

        <%= f.text_field :recipient_email, help: "Enter the email of the recipient company" %>

        <div class="text-center">
        <%= f.submit class: "btn btn-info btn-button" %>
        </div>

    <% end %>