<%= bootstrap_flash %>
<div class="show">
  <strong>Title:</strong>
  <%= @ticket.title %>
</div>

<div class="show">
  <strong>Description:</strong>
  <%= @ticket.description %>
</div>
<%= link_to "Back", new_ticket_path, class: "btn btn-default" %>
<%= link_to 'Edit', edit_ticket_path(@ticket), class: "btn btn-default" %>