<%= form_for @assignee, html: {class: "form-horizontal", role: "form"} do |f| %>
  <% if @assignee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignee.errors.count, "error") %> prohibited this assignee from being saved:</h2>

      <ul>
      <% @assignee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
    <%= label_tag :first_name, "First Name", class: "col-lg-4 control-label" %>
    <div class="col-lg-4">
    <%= f.text_field :first_name, class: "form-control" %>
    </div>
  </div>
    <div class="form-group">
    <%= f.label :last_name, class: "col-md-4 control-label" %>
    <div class="col-md-4">
    <%= f.text_field :last_name, class: "form-control" %>
    </div>
  </div>
    <div class="form-group">
    <%= f.label :job_title, class: "col-md-4 control-label"  %>
    <div class="col-md-4">
    <%= f.text_field :job_title,  class: "form-control" %>
    </div>
  </div>
  <div class="actions text-center">
    <%= f.submit class: "btn btn-default btn-primary" %>
  </div>
<% end %>
