<h1>Listing Assignees</h1>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Job Title</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @assignees.each do |assignee| %>
      <tr>
        <td><%= assignee.first_name %></td>
        <td><%= assignee.last_name %></td>
        <td><%= assignee.job_title %></td>
        <td><%= link_to 'Show', assignee, class: "btn btn-default" %>&nbsp;
            <%= link_to 'Edit', edit_assignee_path(assignee), class: "btn btn-default" %>&nbsp;
            <%= link_to 'Delete', assignee, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Assignee', new_assignee_path, class: "btn btn-default" %>
