<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @assignee.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @assignee.last_name %>
</p>

<p>
  <strong>Job title:</strong>
  <%= @assignee.job_title %>
</p>

<%= link_to 'Edit', edit_assignee_path(@assignee), class: "btn btn-default" %>
<%= link_to 'Back', assignees_path, class: "btn btn-default" %>
