<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title><%= content_for?(:title) ? yield(:title) : "SmileSupportApp" %></title>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Abel|Open+Sans:400,600' rel='stylesheet'>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

  <!-- Bootstrap Core CSS -->
  <%= stylesheet_link_tag "bootstrap.min.css" %>

  <!-- Custom CSS -->
  <%= stylesheet_link_tag "sb-admin" %>
  <%= stylesheet_link_tag "mystyle" %>
  <%= stylesheet_link_tag "dashboard.css" %>


  <!-- Morris Charts CSS -->
  <%= stylesheet_link_tag "morris" %>

  <!-- Custom Fonts -->
  <link href = "//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <%= javascript_include_tag "application.js" %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
</head>

<body>

<div id="wrapper">

  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <%= link_to 'SmileSupport Admin', root_path, class: 'navbar-brand' %>

    </div>

    <!-- Top Menu Items -->
    <ul class="nav navbar-right top-nav">
          <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <%= current_user.username %> <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li>
            <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
          </li>
          <li class="divider"></li>
          <li>
            <%= link_to logout_path, method: :delete do %><span class="fa fa-fw fa-power-off">
                Logout</span>
            <% end %>

          </li>
        </ul>
      </li>
    </ul>
    <div id="welcome-text" class="nav navbar-right top-nav"><p>Welcome</p></div>
    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav side-nav">
        <li class="<%= is_active?(dashboard_home_path) %>">
          <%= link_to dashboard_home_path do %>
          Dashboard <i class=""></i>
          <% end %>
        <li class="<%= is_active?(dashboard_settings_path) %>">
          <%= link_to dashboard_settings_path do %>
              Settings <i class="glyphicon glyphicon-cog"></i>
          <% end %>
        </li>
        <li class="<%= is_active?(dashboard_help_path) %>">
          <%= link_to dashboard_help_path do %>
              Help <i class="glyphicon glyphicon-question-sign"></i>
          <% end %>
        </li>

      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </nav>

  <div id="page-wrapper">

    <div class="container-fluid">
      <div class="col-lg-12">
        <%= bootstrap_flash %>
        <%= yield %>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container-fluid -->

  </div>
  <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<%= javascript_include_tag "jQuery" %>

<!-- Bootstrap Core JavaScript -->
<%= javascript_include_tag "bootstrap.min" %>

<!-- Morris Charts JavaScript -->
<%= javascript_include_tag "raphael.min" %>
<%= javascript_include_tag "morris.min" %>
<%= javascript_include_tag "morris-data" %>

</body>

</html>
